.menu{
  width: 100%;
  height: 8vh;
}
ul {
  list-style: none;
  display: flex;
}
ul li{
  font-size: 20px;
  padding: 10px;
}
.darkmode{
  background-color: black;
  color: white;
}
.lightmode{
  background-color: rgba(26, 155, 148, 0.658);
}